@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 460" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(81.819, 133.915, 227.999, 1)" offset="0%"></stop><stop stop-color="rgba(4.935, 20.872, 191.57, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,138L21.8,184C43.6,230,87,322,131,314.3C174.5,307,218,199,262,191.7C305.5,184,349,276,393,276C436.4,276,480,184,524,184C567.3,184,611,276,655,276C698.2,276,742,184,785,145.7C829.1,107,873,123,916,138C960,153,1004,169,1047,191.7C1090.9,215,1135,245,1178,268.3C1221.8,291,1265,307,1309,322C1352.7,337,1396,353,1440,329.7C1483.6,307,1527,245,1571,214.7C1614.5,184,1658,184,1702,222.3C1745.5,261,1789,337,1833,337.3C1876.4,337,1920,261,1964,230C2007.3,199,2051,215,2095,253C2138.2,291,2182,353,2225,329.7C2269.1,307,2313,199,2356,153.3C2400,107,2444,123,2487,176.3C2530.9,230,2575,322,2618,329.7C2661.8,337,2705,261,2749,260.7C2792.7,261,2836,337,2880,337.3C2923.6,337,2967,261,3011,207C3054.5,153,3098,123,3120,107.3L3141.8,92L3141.8,460L3120,460C3098.2,460,3055,460,3011,460C2967.3,460,2924,460,2880,460C2836.4,460,2793,460,2749,460C2705.5,460,2662,460,2618,460C2574.5,460,2531,460,2487,460C2443.6,460,2400,460,2356,460C2312.7,460,2269,460,2225,460C2181.8,460,2138,460,2095,460C2050.9,460,2007,460,1964,460C1920,460,1876,460,1833,460C1789.1,460,1745,460,1702,460C1658.2,460,1615,460,1571,460C1527.3,460,1484,460,1440,460C1396.4,460,1353,460,1309,460C1265.5,460,1222,460,1178,460C1134.5,460,1091,460,1047,460C1003.6,460,960,460,916,460C872.7,460,829,460,785,460C741.8,460,698,460,655,460C610.9,460,567,460,524,460C480,460,436,460,393,460C349.1,460,305,460,262,460C218.2,460,175,460,131,460C87.3,460,44,460,22,460L0,460Z"></path></svg> */

.wave-container {  
    /* height: 50vh; */
    position: relative;
  }
  
  .wave-container::before {   
    content: "";
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 10vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  124' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 91L50 85C100 80 200 69 300 46C400 24 500 -9 600 2C700 13 800 69 900 91C1000 113 1100 102 1150 97L1200 91V124H1150C1100 124 1000 124 900 124C800 124 700 124 600 124C500 124 400 124 300 124C200 124 100 124 50 124H0V91Z' fill='%23ffffff'/></svg>");
  }
  
  @media(max-width:850px) {
    .wave-container::before {    
      height: 43.5px
    }  
  }